.row{margin:0;}
[v-cloak] {
  display: none;
}
.word-wrap {/*文字拉長*/
   min-width:100px;
}
#xyz{
	min-width:1330px;
}
/*導航列*/
#navb li:hover img{
	content:url("../img/icon/pointer.gif");
}
.nav-link img{height:8vh;}



/*網站說明外框樣式*/
.modal-body{
	overflow-y: auto;
	padding:0;
}
.modal-body .container-fluid{
	/* width:100%; */
	height:80vh;
	padding:0;
	background:url("../img/icon/bigbook.gif");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}
.modal-body img{height:100%;}

/*導航列底下所有內容外框*/
#mainDiv{height:90vh;}
#leftDiv{
	
}


/*縮圖*/
.petFilterImage{width:100%;}

/*融合介面*/
   /*觸碰顯示*/
.fusionHover:hover{
	background:rgba(222,186,114,0.5);
}
#fusionDiv{
	height:90vh;overflow:auto;
}
#fusionDiv div{padding:0;}



/*圖鑑列表觸碰*/
#tugianTable tr:hover{background:rgba(255, 255, 0,.5);}

/*開頭動畫.故事*/
   /*外框*/
#openingView{
	z-index:999;
	background:#DEBA72;
	width:100%;
	height:100%;
	position:fixed;
	overflow-x:hidden;
	top:0;
	left:0;
}
   /*動畫*/
@keyframes mouse1 {
  0%{
	left:0;top:75%
  }
  25%,100%{
	left:90%;top:75%
  }
}
@keyframes mouse2 {
  0%,25%{
	left:90%;top:75%
  }
  50%,100%{
	left:90%;top:0
  }
}
@keyframes mouse3 {
  0%,50%{
	left:90%;top:0
  }
  75%,100%{
	left:0;top:0
  }
}
@keyframes mouse4 {
  0%,75%{
	left:0;top:0
  }
  100%{
	left:0;top:75%
  }
}
#rotating1{/*右向  左下角*/
 position:absolute;
 left:0;
 top:75%;
 -webkit-animation:linear infinite mouse1  8s ;
}
#rotating2{/*上向  右下角*/
 position:absolute;
 left:90%;
 top:75%;
 -webkit-animation:linear infinite mouse2  8s ;
}
#rotating3{/*左向  右上角*/
 position:absolute;
 left:90%;
 top:0;
  -webkit-animation:linear infinite mouse3  8s ;
}
#rotating4{/*下向  左上角*/
 position:absolute;
 left:0;
 top:0;
  -webkit-animation:linear infinite mouse4  8s ;
}
